.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}



.title a {
  color: #0070f3;
  text-decoration: none;
}


.disclaimer {
 text-align: center; 
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-weight: 600;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  background-color: seagreen;
  color: rgb(231, 253, 240);
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 0px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.mapsAndLoteSearchContainer{
  display: flex;
  flex-direction: column;
  margin: 0 28px;
}

.radioGroupContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.radioGroupOptions{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap:8px;
  margin-left: 8px;
}

.radioGroupOptions label {
  font-weight: 400;
}

.loteSearchTitle {
  text-align: start;
  font-weight: 600;
  margin-top: 16px;
  line-height: 1.5;
  font-size:1.3em;
}

.searchLoteInputAndButton {
  display: flex;
  flex-direction: row;
}

.searchLoteInputAndButton input {
  width: 60%;
  font-size: 24px;
  background: #f9f9f9;
  font-weight: 500;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  border-color: gray;
  border-width: 1px;
  padding: 6px 12px;
}

.searchLoteInputAndButton button {
  width: 40%;
  margin-top: 0;
  padding: 6px 18px;
  white-space: nowrap;
  background-color: rgb(231, 253, 240);
  color: rgb(32, 95, 58);
  font-weight: bold;
  font-size: large;
  border-width: 1px;
  border-color: seagreen;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;

}

.poiAndFooterContainer {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 0 28px;
  background-color: rgb(68, 79, 87);
}

.descriptionPOI {
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: start;
}



.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}





@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
